@font-family-name__base: 'Roboto';
@form-element-input-placeholder__color: @test-grey;

@button__border-radius: 4px;

@theme__color__primary: @test-green;
@theme__color__primary-alt: @test-blue;

@form-element-input__border-color: @test-blue;
@form-element-input__border: 2px solid @form-element-input__border-color;
@form-element-input__border-radius: 8px;
@form-element-input__height: 35px;
@form-element-input-placeholder__color: @test-grey;
@form-element-input-placeholder__font-style: italic;

@navigation__background: @test-menu-background;
@navigation-desktop__background: @test-menu-background;

@navigation-desktop-level0-item__active__border-color: @test-green;
@navigation-desktop-level0-item__active__border-width: 0 0 5px;
@navigation-desktop-level0-item__color: @test-menu-text-color;

@submenu-item__active__border-color: @test-green;

@submenu-desktop__border-color: @test-blue;
@submenu-desktop-item__active__border-color: @test-green;

@navigation-level0-item__active__border-color: @test-green;

@indent__xl: @indent__base * 4;