& when (@media-common = true) {
    .page-footer {
        background: @test-grey;

        .footer.content {
            border-top: none;
            margin-top: 0;
            padding-bottom: 0;
        }
    }

    .footer-links-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        color: @test-white;

        .footer-links-column {
            margin-bottom: 10px;
            box-sizing: border-box;
            padding: 0 5px;
        }

        .before-newsletter {
            margin-bottom: 15px;
        }
        
        span {
            display: block;
            &.column-title {
                font-size: 23px;
                font-weight: @font-weight__bold;
                margin-bottom: 23px;
                text-transform: uppercase;
            }
        }

        .links {
            .item {
                margin: 0 0 15px;
            }

            a,
            a:visited,
            a:active {
                display: block;
                color: @test-white;
            }

            a:hover {
                color: @test-green;
            }
        }

        .contacts {
            .contacts-link {
                padding-left: 20px;
                position: relative;
                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    -webkit-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                }

                &:hover {
                    &:before {
                        color: @test-white;
                    }
                }
            }

            .contacts-link__phone {
                &:before {
                    left: 3px;
                    width: 10px;
                    height: 15px;
                    background: url('@{baseDir}images/sprite/icon_sprite.png') -140px -68px;
                }
            }

            .contacts-link__mail {
                &:before {
                    content: '\e800';
                    font-family: @fontello-icons__font-name;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .footer-links-container {
        .footer-links-column {
            width: 50%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .footer-links-container {
        .footer-links-column {
            width: 25%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .footer-links-container {
        .footer-links-column {
            width: 50%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .footer-links-container {
        .footer-links-column {
            width: 100%;
        }
    }
}