//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .slider-line {
        border-top: 2px solid @test-menu-background;
        border-bottom: 2px solid @test-menu-background;
    }

    .partner-slider {
        max-width: @layout__max-width;
        margin: 0 auto;
        padding: 40px 10px;
        .slick-track {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .slick-slide {
            text-align: center;
            img {
                display: inline-block;
            }
        }
    }
    
    .header-info {
        display: inline-block;
        position: relative;
        padding-left: 35px;
        margin: 0 0 10px 10px;

        &:before {
            content: '';
            display: inline-block;
            width: 26px;
            height: 40px;
            position: absolute;
            top: 47%;
            left: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            background: url('@{baseDir}images/sprite/icon_sprite.png') -10px -111px;
        }

        .header-info__line {
            color: @test-grey;
        }

        .header-info__line_bigger {
            font-size: 28px;
            line-height: 24px;
        }

        .header-info__phone {
            color: @test-green;
            font-weight: @font-weight__bold;
            font-family: @fontello-covered__font-name;
        }

        .header-info__line_lover {
            font-size: 14px;
            letter-spacing: 0.4px;
        }
    }

    .main-info {
        padding: 40px 0;
        text-align: center;
        color: @test-grey;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 130px;
            height: 300px;
            background: url('@{baseDir}images/phone.png') center center;
            top: 75px;
            left: 9%;
            z-index: -1;
        }

        p {
            max-width: 700px;
            margin: 0 auto;
        }

        .main-info__title {
            margin-bottom: 30px;
        }

        .main-info__sub-title {
            font-weight: @font-weight__bold;
        }

        .main-info__text {
            margin-bottom: 20px;
        }
    }

    .column {
        .contact-block {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            .contact-block__link {
                font-size: 28px;
                margin: 0 5px 5px;
            }

            .contact-block__img {
                width: 185px;
                height: 38px;
                background: url('@{baseDir}images/sprite/icon_sprite.png') -10px -10px;
            }
        }
    }

    .footer-links-container {
        .contact-block {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            .contact-block__link {
                font-size: 22px;
                line-height: 24px;
                color: @test-white;
                margin: 0 5px 5px;

                &:hover {
                    color: @test-green;
                }
            }

            .contact-block__img {
                width: 110px;
                height: 23px;
                background: url('@{baseDir}images/sprite/icon_sprite.png') -10px -68px;
            }
        }
    }
    
    .copyright {
        background: @test-green;
        color: @test-white;
        text-align: center;
        padding: 8px 20px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .main-info {
        p {
            font-size: 18px;
            line-height: 23px
        }

        .main-info__title {
            font-size: 40px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .header-info {
        margin-left: 0;
        .header-info__line_bigger {
            font-size: 20px;
        }

        .header-info__line_lover {
            font-size: 10px;
            letter-spacing: 0.3px;
        }
    }

    .main-info {
        p {
            font-size: 16px;
            line-height: 21px
        }

        .main-info__title {
            font-size: 28px;
        }
    }
}
