<div class="partner-slider" data-mage-init='{"slick": {
"slidesToShow": 5,
"arrows" : false
}}'>
    <a href="javascript:void(0)">
        <img src="<?php echo $this->getViewFileUrl('images/slides/slide-img-1.png'); ?>" alt="slider img">
    </a>
    <a href="javascript:void(0)">
        <img src="<?php echo $this->getViewFileUrl('images/slides/slide-img-2.png'); ?>" alt="slider img">
    </a>
    <a href="javascript:void(0)">
        <img src="<?php echo $this->getViewFileUrl('images/slides/slide-img-3.png'); ?>" alt="slider img">
    </a>
    <a href="javascript:void(0)">
        <img src="<?php echo $this->getViewFileUrl('images/slides/slide-img-4.png'); ?>" alt="slider img">
    </a>
    <a href="javascript:void(0)">
        <img src="<?php echo $this->getViewFileUrl('images/slides/slide-img-5.png'); ?>" alt="slider img">
    </a>
    <a href="javascript:void(0)">
        <img src="<?php echo $this->getViewFileUrl('images/slides/slide-img-2.png'); ?>" alt="slider img">
    </a>
    <a href="javascript:void(0)">
        <img src="<?php echo $this->getViewFileUrl('images/slides/slide-img-3.png'); ?>" alt="slider img">
    </a>
    <a href="javascript:void(0)">
        <img src="<?php echo $this->getViewFileUrl('images/slides/slide-img-4.png'); ?>" alt="slider img">
    </a>
</div>

<script type="text/x-magento-init">
    {
        ".partner-slider": {
            "slick": {
                "slidesToShow": 5,
                "arrows" : false,
                "speed": 500,
                "autoplay": true,
                "autoplaySpeed": 7000,
                "responsive": [
                    {
                        "breakpoint": 1024,
                        "settings": {
                            "slidesToShow": 4
                        }
                    },
                    {
                        "breakpoint": 768,
                        "settings": {
                            "slidesToShow": 2
                        }
                    },
                    {
                        "breakpoint": 480,
                        "settings": {
                            "slidesToShow": 1
                        }
                    }
                ]
            }
        }
    }
</script>
