//
//  Colors
//  ---------------------------------------------

@test-white: #ffffff;
@test-black: #000000;
@test-green: #8dc73f;
@test-blue: #8acdc4;
@test-grey: #626262;
@test-grey-c6: #c6c6c6;
@test-dark-grey: #4f4e4e;
@test-menu-background: #e6e7e8;
@test-menu-text-color: #4f4e4e;