//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .minicart-wrapper {
    float: none;
    margin-top: 0;

    .minicart-titel {
      font-weight: @font-weight__light;
      color: @test-white;
    }

    .action.showcart {
      display: inline-block;
      position: relative;
      .counter.qty {
        position: absolute;
        background: @test-green;
        top: 0;
        right: 0;
        font-size: 9px;
        font-weight: @font-weight__bold;
        line-height: 14px;
        height: auto;
        min-width: 14px;
        padding: 0;
        margin: 0;
        border-radius: 50%;
      }

      &:before {
        content: '';
        width: 31px;
        height: 31px;
        background: url('@{baseDir}images/sprite/icon_sprite.png') -56px -111px;
      }

      &.active {
        &:before {
          content: '';
        }
      }
    }

    .minicart-titel,
    .action.showcart {
      vertical-align: middle;
    }

    .product {
      .actions {
        margin-top: 0;
      }
    }
  }
}

