//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-header {
        .panel.wrapper {
            border-bottom: none;
            background: @test-grey;
        }

        .nav-toggle {
            top: 3px;
        }

        .header {
            &.panel {
                text-align: right;
                padding-bottom: 6px;
                padding-top: 6px;
            }

            &.content {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding: 20px @indent__base 10px;

                &:before,
                &:after {
                    display: none;
                }
            }
        }

        .logo {
            margin: 0 10px 10px 0
        }
    }

    .login-link.action.primary {
        background: linear-gradient(to top, @test-green 0%, @test-blue 100%);
        margin-right: 17px;
        line-height: 1.6rem;

        &:hover {
            background: linear-gradient(to top, @test-blue 0%, @test-green 100%);
        }

        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
            color: @test-white;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .navigation ul {
        padding: 0 8px 0 70px;
    }
}