<span>33333------></span>
<?php if($block->getData('phonenumber')): ?>
    <span class='phone-number'><?php echo $block->getData('phonenumber'); ?></span>
<?php endif; ?>

<div class="telephone-block-wrapper">
    <p class="telephone-line">
        <span class="left-part">

        </span>
        <span class="right-part">

        </span>
    </p>
    <p class="info-line">

    </p>
</div>
