//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .footer.content {
        .block.newsletter {
            float: none;
        }
    }

    .block.newsletter {
        margin-bottom: 15px;

        .form.subscribe {
            position: relative;
            display: block;
            width: 100%;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                display: block;

                &:before {
                    position: absolute;
                }
            }
        }

        input {
            .lib-input-placeholder(@test-grey-c6);
            padding-right: 35px;
            background: none;
            border-color: @test-green;
            color: @test-white;
        }

        .title {
            display: none;
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: block;
            position: absolute;
            right: 10px;
            top: 0;

            button {
                background: url('@{baseDir}images/plane.png') no-repeat center center;
                border: none;
                height: 35px;
                width: 19px;
                &:active {
                    outline: none;
                }
            }
        }

        .action.subscribe {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: -1px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        .field {
            margin-right: 5px;

            .control {
                width: 100%;
            }
        }

        .action.subscribe {
            border-radius: 3px;
        }
    }
}
